{% extends "./base.html" %}
{% load static %}

{% block content %}
<h3>标注软件</h3>
<p>提供 <a href="https://github.com/yuantailing/imageviewer/">源代码</a> 和 Windows 发行版</p>
<p>从 <a href="https://github.com/yuantailing/imageviewer/releases/latest">Github Release</a> 下载最新的发行版本，或者直接从下面的链接下载<code>v0.0.1</code>发行版</p>
<ul>
	<li><a href="https://github.com/yuantailing/imageviewer/releases/download/v0.0.1/imageviewer.zip">imageviewer.zip</a></li>
	<li><a href="https://github.com/yuantailing/imageviewer/releases/download/v0.0.1/help.pdf">help.pdf</a></li>
</ul>
{% endblock %}
