{% extends "./base.html" %}

{% block content %}
{% with package=userpackage.package %}
<h3>{{ package }}</h3>
<div>
	<p>
		<a href="{% url 'collection:package_download' package.id %}" class="btn btn-primary" role="button">Download {{ userpackage.package__image__count }} Images</a>
		{% if userpackage.feedback %}
		<a href="{% url 'collection:feedback_download' package.id %}" class="btn btn-primary" role="button">Download Feedbacks</a>
		{% endif %}
		{% if userpackage.upload %}
		<a href="{% url 'collection:annotation_download' package.id %}" class="btn btn-primary" role="button">Download Annotations</a>
		{% endif %}
		<a href="{% url 'collection:annotation_upload' package.id %}" class="btn btn-danger" role="button">Upload Annotations</a>
	</p>
</div>
{% if statistics %}
<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th>已交叉验证的图片数</th>
			<th>#Block 词组数</th>
			<th>#Char 字数</th>
			<th>#error 错标</th>
			<th>#miss 漏标</th>
			<th>#reduntant 多标</th>
			<th>Workload 工作量</th>
			<th>Pass (%) 通过率</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ statistics.num_image }}</td>
			<td>{{ statistics.num_block }}</td>
			<td>{{ statistics.num_character }}</td>
			<td>{{ statistics.num_error }}</td>
			<td>{{ statistics.num_miss }}</td>
			<td>{{ statistics.num_reduntant }}</td>
			<td>{{ statistics.workload }}</td>
			<td>{{ statistics.pass }}</td>
		</tr>
	</tbody>
</table>
{% endif %}
<table class="table table-striped table-hover table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Direction</th>
			<th>Number</th>
			<th>#Block</th>
			<th>#Char</th>
			<th>错 / 漏 / 多</th>
			<th>Pass (%)</th>
			<th colspan="1">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for image in image_info %}
		<tr>
			<td><a href="{% url 'collection:image_detail' package.id image.id %}">{{ image.title }}</a></td>
			<td>{{ image.direction }}</td>
			<td>{{ image.number }}</td>
			{% if image.stat %}
			<td>{{ image.stat.numBlock }}</td>
			<td>{{ image.stat.numCharacter }}</td>
			{% else %}
			<td colspan="2">Not uploaded yet</td>
			{% endif %}
			{% if image.feed %}
			<td>{{ image.feed.error }} / {{ image.feed.miss }} / {{ image.feed.reduntant }}</td>
			<td>{{ image.feed.pass }}</td>
			{% else %}
			<td colspan="2">No feedbacks avaliable</td>
			{% endif %}
			<td><a href="{% url 'collection:image_download' package.id image.id %}">Download</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endwith %}
{% endblock %}
