{% extends "./base.html" %}

{% block content %}
<h3>Packages of {{ user }}</h3>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Direction</th>
			<th>#Images</th>
			<th>Annotation</th>
			<th colspan="2">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for userpackage in userpackage_list %}
		{% with package=userpackage.package %}
		<tr>
			<td><a href="{% url 'collection:package_detail' package.id %}">{{ package }}</a></td>
			<td>{{ package.direction }}</td>
			<td>{{ userpackage.package__image__count }}</td>
			{% if userpackage.upload %}
			<td><span class="glyphicon glyphicon-ok-circle"></span> 已上传</td>
			{% else %}
			<td><span class="glyphicon glyphicon-remove-circle"></span> 待上传</td>
			{% endif %}
			<td><a href="{% url 'collection:package_download' package.id %}">Download</a></td>
			<td><a href="{% url 'collection:annotation_upload' package.id %}">Upload Annotations</a></td>
		</tr>
		{% endwith %}
		{% endfor %}
	</tbody>
</table>
<p>
	<a href="{% url 'collection:ask_for_package' %}" class="btn btn-primary" role="button">Ask for more packages</a>
<p>
{% endblock %}
