{% extends "./base.html" %}

{% block content %}
{% with package=userpackage.package %}
<h3>{{ package }}</h3>
<div>
	<p>
		<a href="{% url 'collection:package_download' package.id %}" class="btn btn-primary" role="button">Download {{ userpackage.package__image__count }} Images</a>
		{% if userpackage.upload %}
		<a href="{% url 'collection:annotation_download' package.id %}" class="btn btn-primary" role="button">Download Annotations</a>
		{% endif %}
		<a href="{% url 'collection:annotation_upload' package.id %}" class="btn btn-danger" role="button">Upload Annotations</a>
	</p>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Direction</th>
			<th>Number</th>
			<th>#Blk</th>
			<th>#Char</th>
			<th>错 / 漏 / 多</th>
			<th>Pass (%)</th>
			<th colspan="1">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for image in image_info %}
		<tr>
			<td><a href="{% url 'collection:image_detail' package.id image.id %}">{{ image.title }}</a></td>
			<td>{{ image.direction }}</td>
			<td>{{ image.number }}</td>
			<td>{{ image.numBlock }}</td>
			<td>{{ image.numCharacter }}</td>
			{% if image.hasCross %}
			<td>{{ image.error }} / {{ image.miss }} / {{ image.reduntant }}</td>
			<td>{{ image.pass }}</td>
			{% else %}
			<td>N/A</td>
			<td>N/A</td>
			{% endif %}
			<td><a href="{% url 'collection:image_download' package.id image.id %}">Download</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endwith %}
{% endblock %}
